// Place all the styles related to the links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.input-group-btn > input.btn[type="submit"] {
	height: 34px;
}

.input-group-btn > .btn {
	width: 80px;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-left-right {
	margin-left: 70px;
	margin-right: 70px;
}
