<!DOCTYPE html>
<html>
<head>
  <title>LeSh</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
	<script src="ZeroClipboard.min.js" type="text/javascript"></script>
	<%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
